* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  user-select: none;
}
.box {
  padding: 5px;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  transition: all 0.3s linear;
}
.box:hover:before {
  content: "";
  position: absolute;
  top: 110%;
  left: 5%;
  height: 10px;
  width: 90%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  animation: shadow 2.5s linear infinite;
}
@keyframes shadow {
  50% {
    top: 130%;
    height: 15px;
    width: 120%;
    left: -7%;
  }
  100% {
    top: 110%;
  }
}
.box:hover {
  animation: box 2.5s linear infinite;
}
@keyframes box {
  50% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.img {
  max-width: 100%;
}
.circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
}
.circle__pop {
  transform: scaleY(0.01);
  transition: all 0.2s linear;
}
.circle__pop-all {
  transform: scale(2);
  opacity: 0.4;
  transition: all 0.2s linear;
}
/* .display-none {
  display: none;
} */
